<div class="jumbotron">

	<h1>{{heading}}</h1>

	{% if paragraph %}
	<p>{{paragraph}}</p>
	{% endif %}

	{% if button %}
	<p><a href="{{buttonHref}}" class="btn btn-primary">{{button}}</a></p>
	{% endif %}

</div>