<!-- Dependencies -->
{% import 'atoms/global/header.html' as header %}
<!-- /end Dependencies -->

{% include '_page-header.html' %}

<div class="container">
	<div class="col-xs-12">
		<hr>
		h1
		{{ header.h1('Heading 1', null, 'small text', null) }}
		<hr>
		<br>
		h2
		{{ header.h2('Heading 2', null, 'small text', null) }}
		<hr>
		<br>
		h3
		{{ header.h3('Heading 3', null, 'small text', null) }}
		<hr>
		<br>
		h4
		{{ header.h4('Heading 4', null, 'small text', null) }}
		<hr>
		<br>
		h5
		{{ header.h5('Heading 5', null, 'small text', null) }}
		<hr>
		<br>
		h6
		{{ header.h6('Heading 6', null, 'small text', null) }}
	</div>
</div>

{% include '_page-footer.html' %}
